h1 {
    color: black;
    text-align: center;
	font-size: 2em;
	font-weight: bold;
}
 
label {
    color: black;
    text-align: left;
	font-size: 1em;
	font-weight: plain;
}

body {
    background-color: lightblue;
}

#form1 {
	width: 550px;
	height: 450px;
}

#form2 {
	width: 550px;
	height: 450px;
}

#button1, #button3 {
	background-color: green;
	color: black;
	font-size: 1 em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
    width: auto;
}

#button2, #button4 {
	background-color: red;
	color: black;
	font-size: 1 em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
    width: auto;
}

#canvas1{
	border:solid gray 1px
	position: absolute;
}

#canvas2{
	border:solid gray 1px
	position: absolute;
}

#textfieldGeneSet, 
#selectPathprint,
#selectMSigDBC2CP,
#selectMSigDBC5 {
	width: 500px;
}

textarea { 
    resize: none; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 500px;
    height: 90px;
}

/* Menu */

#menu
{
	position: absolute;
	top: 2em;
	right: 3em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	display: inline;
	padding-left: 1.1em;
	margin-left: 1em;
	border-left: dotted 1px #E0E8EF;
}

#menu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#menu li a
{
	color: #fff;
	padding: 0.1em;
	text-decoration: none;
}

#menu li a:hover
{
	text-decoration: underline;
}
